In [16]:
import pandas as pd

### Extract CSV into DataFrame

In [2]:
#Open zillow home values files
homevalues_file = "Resources\Data\Zillow_homevalue_zipcodes.csv"
homevalues_df = pd.read_csv(homevalues_file)
homevalues_df.head()

,RegionID,SizeRank,RegionName,RegionType,StateName,State,City,Metro,CountyName,1996-01-31,...,2019-08-31,2019-09-30,2019-10-31,2019-11-30,2019-12-31,2020-01-31,2020-02-29,2020-03-31,2020-04-30,2020-05-31
0,61639,0,10025,Zip,NY,NY,New York,New York-Newark-Jersey City,New York County,231064.0,...,1255626.0,1239473.0,1225833.0,1221555.0,1217736.0,1198491.0,1172006.0,1138563.0,1120424.0,1103971.0
1,84654,1,60657,Zip,IL,IL,Chicago,Chicago-Naperville-Elgin,Cook County,211597.0,...,495147.0,494290.0,493336.0,492329.0,491487.0,491249.0,492211.0,493494.0,494102.0,493717.0
2,61637,2,10023,Zip,NY,NY,New York,New York-Newark-Jersey City,New York County,236643.0,...,1128603.0,1114223.0,1105521.0,1108518.0,1127397.0,1146829.0,1160419.0,1161442.0,1171805.0,1178287.0
3,91982,3,77494,Zip,TX,TX,Katy,Houston-The Woodlands-Sugar Land,Harris County,200691.0,...,336294.0,336438.0,336472.0,336463.0,336577.0,336340.0,336589.0,337122.0,338281.0,339317.0
4,84616,4,60614,Zip,IL,IL,Chicago,Chicago-Naperville-Elgin,Cook County,287425.0,...,649878.0,648659.0,647684.0,646281.0,644917.0,644493.0,644516.0,644757.0,643758.0,642694.0

In [3]:
#Select everything that is Cook County and IL
homevalues_cook_df=homevalues_df.loc[(homevalues_df["State"] == "IL") & 
                            (homevalues_df["CountyName"] == "Cook County")]
homevalues_cook_df.head()

,RegionID,SizeRank,RegionName,RegionType,StateName,State,City,Metro,CountyName,1996-01-31,...,2019-08-31,2019-09-30,2019-10-31,2019-11-30,2019-12-31,2020-01-31,2020-02-29,2020-03-31,2020-04-30,2020-05-31
1,84654,1,60657,Zip,IL,IL,Chicago,Chicago-Naperville-Elgin,Cook County,211597.0,...,495147.0,494290.0,493336.0,492329.0,491487.0,491249.0,492211.0,493494.0,494102.0,493717.0
4,84616,4,60614,Zip,IL,IL,Chicago,Chicago-Naperville-Elgin,Cook County,287425.0,...,649878.0,648659.0,647684.0,646281.0,644917.0,644493.0,644516.0,644757.0,643758.0,642694.0
9,84640,9,60640,Zip,IL,IL,Chicago,Chicago-Naperville-Elgin,Cook County,122919.0,...,311324.0,311253.0,311226.0,310688.0,310619.0,311165.0,312454.0,313755.0,314089.0,313859.0
17,84646,18,60647,Zip,IL,IL,Chicago,Chicago-Naperville-Elgin,Cook County,159182.0,...,441969.0,441852.0,441601.0,441602.0,441464.0,442065.0,444343.0,447283.0,449930.0,451330.0
26,84620,28,60618,Zip,IL,IL,Chicago,Chicago-Naperville-Elgin,Cook County,191027.0,...,449380.0,448361.0,447270.0,446141.0,445294.0,445585.0,447158.0,448927.0,449909.0,450240.0

In [4]:
# Check data
homevalues_cook_df.count()

RegionID      163
SizeRank      163
RegionName    163
RegionType    163
StateName     163
             ...
2020-01-31    163
2020-02-29    163
2020-03-31    163
2020-04-30    163
2020-05-31    163
Length: 302, dtype: int64

In [5]:
# Create a filtered dataframe from specific columns (watchout for european date format!) to isolate 2019 values
homevalue_cols = ['RegionID', 'SizeRank', 'RegionName', 'State', 'City', 'Metro', 'CountyName', 
                     "2019-01-31","2019-02-28","2019-03-31","2019-04-30","2019-05-31",
                     "2019-06-30","2019-07-31","2019-08-31","2019-09-30","2019-10-31","2019-11-30","2019-12-31"]

homevalues_cook_2019_df = homevalues_cook_df[homevalue_cols]
homevalues_cook_2019_df.head()

,RegionID,SizeRank,RegionName,State,City,Metro,CountyName,2019-01-31,2019-02-28,2019-03-31,2019-04-30,2019-05-31,2019-06-30,2019-07-31,2019-08-31,2019-09-30,2019-10-31,2019-11-30,2019-12-31
1,84654,1,60657,IL,Chicago,Chicago-Naperville-Elgin,Cook County,500823.0,497702.0,495472.0,495042.0,495231.0,495084.0,495689.0,495147.0,494290.0,493336.0,492329.0,491487.0
4,84616,4,60614,IL,Chicago,Chicago-Naperville-Elgin,Cook County,656398.0,652874.0,650747.0,651430.0,651464.0,650606.0,650524.0,649878.0,648659.0,647684.0,646281.0,644917.0
9,84640,9,60640,IL,Chicago,Chicago-Naperville-Elgin,Cook County,311913.0,309543.0,308026.0,308948.0,309995.0,310564.0,310999.0,311324.0,311253.0,311226.0,310688.0,310619.0
17,84646,18,60647,IL,Chicago,Chicago-Naperville-Elgin,Cook County,445419.0,442885.0,440848.0,440372.0,440812.0,440935.0,441744.0,441969.0,441852.0,441601.0,441602.0,441464.0
26,84620,28,60618,IL,Chicago,Chicago-Naperville-Elgin,Cook County,454906.0,452060.0,449913.0,449701.0,449934.0,449771.0,450086.0,449380.0,448361.0,447270.0,446141.0,445294.0

In [6]:
# Rename the column headers
homevalues_cook_2019_df = homevalues_cook_2019_df.rename(columns={"RegionName": "Zip"})
homevalues_cook_2019_df.head()

,RegionID,SizeRank,Zip,State,City,Metro,CountyName,2019-01-31,2019-02-28,2019-03-31,2019-04-30,2019-05-31,2019-06-30,2019-07-31,2019-08-31,2019-09-30,2019-10-31,2019-11-30,2019-12-31
1,84654,1,60657,IL,Chicago,Chicago-Naperville-Elgin,Cook County,500823.0,497702.0,495472.0,495042.0,495231.0,495084.0,495689.0,495147.0,494290.0,493336.0,492329.0,491487.0
4,84616,4,60614,IL,Chicago,Chicago-Naperville-Elgin,Cook County,656398.0,652874.0,650747.0,651430.0,651464.0,650606.0,650524.0,649878.0,648659.0,647684.0,646281.0,644917.0
9,84640,9,60640,IL,Chicago,Chicago-Naperville-Elgin,Cook County,311913.0,309543.0,308026.0,308948.0,309995.0,310564.0,310999.0,311324.0,311253.0,311226.0,310688.0,310619.0
17,84646,18,60647,IL,Chicago,Chicago-Naperville-Elgin,Cook County,445419.0,442885.0,440848.0,440372.0,440812.0,440935.0,441744.0,441969.0,441852.0,441601.0,441602.0,441464.0
26,84620,28,60618,IL,Chicago,Chicago-Naperville-Elgin,Cook County,454906.0,452060.0,449913.0,449701.0,449934.0,449771.0,450086.0,449380.0,448361.0,447270.0,446141.0,445294.0

In [7]:
# Clean the data by dropping duplicates 
homevalues_cook_2019_df = homevalues_cook_2019_df.drop_duplicates("Zip")
homevalues_cook_2019_df["Zip"].count()

163

In [27]:
#Create a new column for average value for 2019
homevalues_cook_2019_df["AvgHomeValue"]=round(homevalues_cook_2019_df.iloc[:,6:19].mean(axis=1), 2)

homevalues_cook_2019_df.head()

,RegionID,SizeRank,Zip,State,City,Metro,CountyName,2019-01-31,2019-02-28,2019-03-31,2019-04-30,2019-05-31,2019-06-30,2019-07-31,2019-08-31,2019-09-30,2019-10-31,2019-11-30,2019-12-31,AvgHomeValue
1,84654,1,60657,IL,Chicago,Chicago-Naperville-Elgin,Cook County,500823.0,497702.0,495472.0,495042.0,495231.0,495084.0,495689.0,495147.0,494290.0,493336.0,492329.0,491487.0,495136.00
4,84616,4,60614,IL,Chicago,Chicago-Naperville-Elgin,Cook County,656398.0,652874.0,650747.0,651430.0,651464.0,650606.0,650524.0,649878.0,648659.0,647684.0,646281.0,644917.0,650121.83
9,84640,9,60640,IL,Chicago,Chicago-Naperville-Elgin,Cook County,311913.0,309543.0,308026.0,308948.0,309995.0,310564.0,310999.0,311324.0,311253.0,311226.0,310688.0,310619.0,310424.83
17,84646,18,60647,IL,Chicago,Chicago-Naperville-Elgin,Cook County,445419.0,442885.0,440848.0,440372.0,440812.0,440935.0,441744.0,441969.0,441852.0,441601.0,441602.0,441464.0,441791.92
26,84620,28,60618,IL,Chicago,Chicago-Naperville-Elgin,Cook County,454906.0,452060.0,449913.0,449701.0,449934.0,449771.0,450086.0,449380.0,448361.0,447270.0,446141.0,445294.0,449401.42

In [28]:
# export file
homevalues_cook_2019_df.to_csv("Resources\Data\clean_homevalue_2019.csv")

## Merge on Schools files

In [29]:
#Open Schools file
schools_data_df= pd.read_csv("Resources\Data\cleaned_schools_data.csv").drop(["Unnamed: 0"], axis=1)
schools_data_df.head()

,RCDTS,School Name,School Type,County,# Student Enrollment,% Student Enrollment - Low Income,Student Attendance Rate,$ Site-level PEr-Pupil Expenditures - Subtotal,$ District Centralized Per-Pupil Expenditure - Subtotal,$ Total Per-Pupil Expenditures - Subtotal,SAT Reading Average,SAT Math Average,Address,City,CountyName,RecType,Zip,Lat,Lng
0,50162020170001,Evanston Twp High School,HIGH SCHOOL,Cook,3514,36.5,91.5,20271.00,1949.00,22220.00,540.1,540.7,1600 Dodge Ave,Evanston,Cook,Sch,60201,42.047544,-87.699769
1,50162030170001,New Trier Township H S Winnetka,HIGH SCHOOL,Cook,2963,4.2,94.9,22428.80,3076.44,25505.24,611.9,627.6,385 Winnetka Ave,Winnetka,Cook,Sch,60093,42.094380,-87.719263
2,50162030170002,New Trier Township H S Northfield,HIGH SCHOOL,Cook,1015,2.6,96.2,22281.03,3076.44,25357.47,NaN,NaN,7 Happ Rd,Northfield,Cook,Sch,60093,42.094887,-87.766762
3,50162070170001,Maine East High School,HIGH SCHOOL,Cook,1852,41.6,91.9,13382.03,5994.55,19376.58,491.2,497.3,2601 Dempster St,Park Ridge,Cook,Sch,60068,42.037380,-87.857584
4,50162070170003,Maine South High School,HIGH SCHOOL,Cook,2391,6.4,93.8,12801.70,5919.13,18720.83,559.6,577.8,1111 S Dee Rd,Park Ridge,Cook,Sch,60068,42.001374,-87.852285

In [30]:
#select only important columns from zillow dataset (ZIP and AverageValue)
homevalues_clean_df= homevalues_cook_2019_df[["Zip","AvgHomeValue"]]
homevalues_clean_df.head()

      Zip  AvgHomeValue
1   60657     495136.00
4   60614     650121.83
9   60640     310424.83
17  60647     441791.92
26  60618     449401.42

In [31]:
#merge df
merged_df= pd.merge(schools_data_df, homevalues_clean_df, on="Zip", left_index=True)
merged_df.head()

,RCDTS,School Name,School Type,County,# Student Enrollment,% Student Enrollment - Low Income,Student Attendance Rate,$ Site-level PEr-Pupil Expenditures - Subtotal,$ District Centralized Per-Pupil Expenditure - Subtotal,$ Total Per-Pupil Expenditures - Subtotal,SAT Reading Average,SAT Math Average,Address,City,CountyName,RecType,Zip,Lat,Lng,AvgHomeValue
1226,50162020170001,Evanston Twp High School,HIGH SCHOOL,Cook,3514,36.5,91.5,20271.00,1949.00,22220.00,540.1,540.7,1600 Dodge Ave,Evanston,Cook,Sch,60201,42.047544,-87.699769,511257.00
6656,50162030170001,New Trier Township H S Winnetka,HIGH SCHOOL,Cook,2963,4.2,94.9,22428.80,3076.44,25505.24,611.9,627.6,385 Winnetka Ave,Winnetka,Cook,Sch,60093,42.094380,-87.719263,1111715.17
6656,50162030170002,New Trier Township H S Northfield,HIGH SCHOOL,Cook,1015,2.6,96.2,22281.03,3076.44,25357.47,NaN,NaN,7 Happ Rd,Northfield,Cook,Sch,60093,42.094887,-87.766762,1111715.17
2120,50162070170001,Maine East High School,HIGH SCHOOL,Cook,1852,41.6,91.9,13382.03,5994.55,19376.58,491.2,497.3,2601 Dempster St,Park Ridge,Cook,Sch,60068,42.037380,-87.857584,421220.75
2120,50162070170003,Maine South High School,HIGH SCHOOL,Cook,2391,6.4,93.8,12801.70,5919.13,18720.83,559.6,577.8,1111 S Dee Rd,Park Ridge,Cook,Sch,60068,42.001374,-87.852285,421220.75

In [32]:
#Export as csv
merged_df.to_csv("Resources\Data\Schools_data_homevalue_merged.csv")