In [5]:
import pandas as pd
from sqlalchemy import create_engine

In [13]:
#Open zillow home values, school data and merged files
homevalues_cook_2019_df=pd.read_csv("Resources\Data\clean_homevalue_2019.csv").drop(["Unnamed: 0"], axis=1)
schools_data_df= pd.read_csv("Resources\Data\cleaned_schools_data.csv").drop(["Unnamed: 0"], axis=1)
merged_df= pd.read_csv("Resources\Data\Schools_data_homevalue_merged.csv").drop(["Unnamed: 0"], axis=1)

In [53]:
# Rename Columns with % to avoid running into errors with SQL
schools_data_df.rename(columns={"% Student Enrollment - Low Income": "Perc Student Enrollment - Low Income"}, inplace=True)
schools_data_df.head()

,RCDTS,School Name,School Type,County,# Student Enrollment,Perc Student Enrollment - Low Income,Student Attendance Rate,$ Site-level PEr-Pupil Expenditures - Subtotal,$ District Centralized Per-Pupil Expenditure - Subtotal,$ Total Per-Pupil Expenditures - Subtotal,SAT Reading Average,SAT Math Average,Address,City,CountyName,RecType,Zip,Lat,Lng
0,50162020170001,Evanston Twp High School,HIGH SCHOOL,Cook,3514,36.5,91.5,20271.00,1949.00,22220.00,540.1,540.7,1600 Dodge Ave,Evanston,Cook,Sch,60201,42.047544,-87.699769
1,50162030170001,New Trier Township H S Winnetka,HIGH SCHOOL,Cook,2963,4.2,94.9,22428.80,3076.44,25505.24,611.9,627.6,385 Winnetka Ave,Winnetka,Cook,Sch,60093,42.094380,-87.719263
2,50162030170002,New Trier Township H S Northfield,HIGH SCHOOL,Cook,1015,2.6,96.2,22281.03,3076.44,25357.47,NaN,NaN,7 Happ Rd,Northfield,Cook,Sch,60093,42.094887,-87.766762
3,50162070170001,Maine East High School,HIGH SCHOOL,Cook,1852,41.6,91.9,13382.03,5994.55,19376.58,491.2,497.3,2601 Dempster St,Park Ridge,Cook,Sch,60068,42.037380,-87.857584
4,50162070170003,Maine South High School,HIGH SCHOOL,Cook,2391,6.4,93.8,12801.70,5919.13,18720.83,559.6,577.8,1111 S Dee Rd,Park Ridge,Cook,Sch,60068,42.001374,-87.852285

In [54]:
# Rename Columns with % to avoid running into errors with SQL
merged_df.rename(columns={"% Student Enrollment - Low Income": "Perc Student Enrollment - Low Income"}, inplace=True)
merged_df.head()

### Create database connection

In [20]:
connection_string = "postgres:postgres@localhost:5432/Project 2"
engine = create_engine(f'postgresql://{connection_string}')

In [21]:
# Confirm tables
engine.table_names()

['schools', 'homevalues', 'schools_homevalues']

### Load DataFrames into database

In [38]:
homevalues_cook_2019_df.to_sql(name='homevalues', con=engine, if_exists='append', index=False)

In [45]:
schools_data_df.to_sql(name='schools', con=engine, if_exists='append', index=False)

In [55]:
merged_df.to_sql(name='schools_homevalues', con=engine, if_exists='append', index=False)