In [1]:
import pandas as pd
from sqlalchemy import create_engine

In [2]:
#Open zillow home values, school data and merged files
homevalues_cook_2019_df=pd.read_csv("Resources\Data\clean_homevalue_2019.csv").drop(["Unnamed: 0"], axis=1)
schools_data_df= pd.read_csv("Resources\Data\cleaned_schools_data.csv").drop(["Unnamed: 0"], axis=1)
merged_df= pd.read_csv("Resources\Data\Schools_data_homevalue_merged.csv").drop(["Unnamed: 0"], axis=1)

In [3]:
merged_df.head()

,RCDTS,School_Name,School_Type,County,N_Student_Enrollment,Perc_Student_Enrollment_Low_Income,Student_Attendance_Rate,Site_level_Per_Pupil_Expenditures_Subtotal,District_Centralized_Per_Pupil_Expenditure_Subtotal,Total_Per_Pupil_Expenditures_Subtotal,SAT_Reading_Average,SAT_Math_Average,Address,City,County_Name,Rec_Type,Zip,Lat,Lng,Avg_Home_Value
0,5.016200e+13,Evanston Twp High School,HIGH SCHOOL,Cook,3514,36.5,91.5,20271.00,1949.00,22220.00,540.1,540.7,1600 Dodge Ave,Evanston,Cook,Sch,60201,42.047544,-87.699769,511257.00
1,5.016200e+13,New Trier Township H S Winnetka,HIGH SCHOOL,Cook,2963,4.2,94.9,22428.80,3076.44,25505.24,611.9,627.6,385 Winnetka Ave,Winnetka,Cook,Sch,60093,42.094380,-87.719263,1111715.17
2,5.016200e+13,New Trier Township H S Northfield,HIGH SCHOOL,Cook,1015,2.6,96.2,22281.03,3076.44,25357.47,NaN,NaN,7 Happ Rd,Northfield,Cook,Sch,60093,42.094887,-87.766762,1111715.17
3,5.016210e+13,Maine East High School,HIGH SCHOOL,Cook,1852,41.6,91.9,13382.03,5994.55,19376.58,491.2,497.3,2601 Dempster St,Park Ridge,Cook,Sch,60068,42.037380,-87.857584,421220.75
4,5.016210e+13,Maine South High School,HIGH SCHOOL,Cook,2391,6.4,93.8,12801.70,5919.13,18720.83,559.6,577.8,1111 S Dee Rd,Park Ridge,Cook,Sch,60068,42.001374,-87.852285,421220.75

In [4]:
# Rename Columns with % to avoid running into errors with SQL
schools_data_df.rename(columns={"Perc_Student_Enrollment_Low_Income": "Perc Student Enrollment Low Income"}, inplace=True)
schools_data_df.head()

,RCDTS,School Name,School Type,County,# Student Enrollment,% Student Enrollment - Low Income,Student Attendance Rate,$ Site-level PEr-Pupil Expenditures - Subtotal,$ District Centralized Per-Pupil Expenditure - Subtotal,$ Total Per-Pupil Expenditures - Subtotal,SAT Reading Average,SAT Math Average,Address,City,CountyName,RecType,Zip,Lat,Lng
0,50162020170001,Evanston Twp High School,HIGH SCHOOL,Cook,3514,36.5,91.5,20271.00,1949.00,22220.00,540.1,540.7,1600 Dodge Ave,Evanston,Cook,Sch,60201,42.047544,-87.699769
1,50162030170001,New Trier Township H S Winnetka,HIGH SCHOOL,Cook,2963,4.2,94.9,22428.80,3076.44,25505.24,611.9,627.6,385 Winnetka Ave,Winnetka,Cook,Sch,60093,42.094380,-87.719263
2,50162030170002,New Trier Township H S Northfield,HIGH SCHOOL,Cook,1015,2.6,96.2,22281.03,3076.44,25357.47,NaN,NaN,7 Happ Rd,Northfield,Cook,Sch,60093,42.094887,-87.766762
3,50162070170001,Maine East High School,HIGH SCHOOL,Cook,1852,41.6,91.9,13382.03,5994.55,19376.58,491.2,497.3,2601 Dempster St,Park Ridge,Cook,Sch,60068,42.037380,-87.857584
4,50162070170003,Maine South High School,HIGH SCHOOL,Cook,2391,6.4,93.8,12801.70,5919.13,18720.83,559.6,577.8,1111 S Dee Rd,Park Ridge,Cook,Sch,60068,42.001374,-87.852285

In [5]:
# Rename Columns with % to avoid running into errors with SQL
merged_df.rename(columns={"%_Student_Enrollment_Low_Income": "Perc_Student_Enrollment_Low_Income"}, inplace=True)
merged_df.head()

,RCDTS,School_Name,School_Type,County,N_Student_Enrollment,Perc_Student_Enrollment_Low_Income,Student_Attendance_Rate,Site_level_Per_Pupil_Expenditures_Subtotal,District_Centralized_Per_Pupil_Expenditure_Subtotal,Total_Per_Pupil_Expenditures_Subtotal,SAT_Reading_Average,SAT_Math_Average,Address,City,County_Name,Rec_Type,Zip,Lat,Lng,Avg_Home_Value
0,5.016200e+13,Evanston Twp High School,HIGH SCHOOL,Cook,3514,36.5,91.5,20271.00,1949.00,22220.00,540.1,540.7,1600 Dodge Ave,Evanston,Cook,Sch,60201,42.047544,-87.699769,511257.00
1,5.016200e+13,New Trier Township H S Winnetka,HIGH SCHOOL,Cook,2963,4.2,94.9,22428.80,3076.44,25505.24,611.9,627.6,385 Winnetka Ave,Winnetka,Cook,Sch,60093,42.094380,-87.719263,1111715.17
2,5.016200e+13,New Trier Township H S Northfield,HIGH SCHOOL,Cook,1015,2.6,96.2,22281.03,3076.44,25357.47,NaN,NaN,7 Happ Rd,Northfield,Cook,Sch,60093,42.094887,-87.766762,1111715.17
3,5.016210e+13,Maine East High School,HIGH SCHOOL,Cook,1852,41.6,91.9,13382.03,5994.55,19376.58,491.2,497.3,2601 Dempster St,Park Ridge,Cook,Sch,60068,42.037380,-87.857584,421220.75
4,5.016210e+13,Maine South High School,HIGH SCHOOL,Cook,2391,6.4,93.8,12801.70,5919.13,18720.83,559.6,577.8,1111 S Dee Rd,Park Ridge,Cook,Sch,60068,42.001374,-87.852285,421220.75

### Create database connection

In [6]:
connection_string = "postgres:postgres@localhost:5432/Project_2"
engine = create_engine(f'postgresql://{connection_string}')

In [7]:
# Confirm tables
engine.table_names()

['schools', 'homevalues', 'schools_homevalues']

### Load DataFrames into database

In [8]:
homevalues_cook_2019_df.to_sql(name='homevalues', con=engine, if_exists='append', index=False)

In [9]:
schools_data_df.to_sql(name='schools', con=engine, if_exists='append', index=False)

ProgrammingError: (psycopg2.ProgrammingError) incomplete placeholder: '%(' without ')'
[SQL: INSERT INTO schools ("RCDTS", "School Name", "School Type", "County", "# Student Enrollment", "%% Student Enrollment - Low Income", "Student Attendance Rate", "$ Site-level PEr-Pupil Expenditures - Subtotal", "$ District Centralized Per-Pupil Expenditure - Subtotal", "$ Total Per-Pupil Expenditures - Subtotal", "SAT Reading Average", "SAT Math Average", "Address", "City", "CountyName", "RecType", "Zip", "Lat", "Lng") VALUES (%(RCDTS)s, %(School Name)s, %(School Type)s, %(County)s, %(# Student Enrollment)s, %(% Student Enrollment - Low Income)s, %(Student Attendance Rate)s, %($ Site-level PEr-Pupil Expenditures - Subtotal)s, %($ District Centralized Per-Pupil Expenditure - Subtotal)s, %($ Total Per-Pupil Expenditures - Subtotal)s, %(SAT Reading Average)s, %(SAT Math Average)s, %(Address)s, %(City)s, %(CountyName)s, %(RecType)s, %(Zip)s, %(Lat)s, %(Lng)s)]
[parameters: ({'RCDTS': 50162020170001, 'School Name': 'Evanston Twp High School', 'School Type': 'HIGH SCHOOL', 'County': 'Cook', '# Student Enrollment': 3514, '% Student Enrollment - Low Income': 36.5, 'Student Attendance Rate': 91.5, '$ Site-level PEr-Pupil Expenditures - Subtotal': 20271.0, '$ District Centralized Per-Pupil Expenditure - Subtotal': 1949.0, '$ Total Per-Pupil Expenditures - Subtotal': 22220.0, 'SAT Reading Average': 540.1, 'SAT Math Average': 540.7, 'Address': '1600 Dodge Ave', 'City': 'Evanston', 'CountyName': 'Cook', 'RecType': 'Sch', 'Zip': 60201, 'Lat': 42.0475443, 'Lng': -87.6997693}, {'RCDTS': 50162030170001, 'School Name': 'New Trier Township H S Winnetka', 'School Type': 'HIGH SCHOOL', 'County': 'Cook', '# Student Enrollment': 2963, '% Student Enrollment - Low Income': 4.2, 'Student Attendance Rate': 94.9, '$ Site-level PEr-Pupil Expenditures - Subtotal': 22428.8, '$ District Centralized Per-Pupil Expenditure - Subtotal': 3076.44, '$ Total Per-Pupil Expenditures - Subtotal': 25505.24, 'SAT Reading Average': 611.9, 'SAT Math Average': 627.6, 'Address': '385 Winnetka Ave', 'City': 'Winnetka', 'CountyName': 'Cook', 'RecType': 'Sch', 'Zip': 60093, 'Lat': 42.09438, 'Lng': -87.7192627}, {'RCDTS': 50162030170002, 'School Name': 'New Trier Township H S Northfield', 'School Type': 'HIGH SCHOOL', 'County': 'Cook', '# Student Enrollment': 1015, '% Student Enrollment - Low Income': 2.6, 'Student Attendance Rate': 96.2, '$ Site-level PEr-Pupil Expenditures - Subtotal': 22281.03, '$ District Centralized Per-Pupil Expenditure - Subtotal': 3076.44, '$ Total Per-Pupil Expenditures - Subtotal': 25357.47, 'SAT Reading Average': None, 'SAT Math Average': None, 'Address': '7 Happ Rd', 'City': 'Northfield', 'CountyName': 'Cook', 'RecType': 'Sch', 'Zip': 60093, 'Lat': 42.0948865, 'Lng': -87.7667624}, {'RCDTS': 50162070170001, 'School Name': 'Maine East High School', 'School Type': 'HIGH SCHOOL', 'County': 'Cook', '# Student Enrollment': 1852, '% Student Enrollment - Low Income': 41.6, 'Student Attendance Rate': 91.9, '$ Site-level PEr-Pupil Expenditures - Subtotal': 13382.03, '$ District Centralized Per-Pupil Expenditure - Subtotal': 5994.55, '$ Total Per-Pupil Expenditures - Subtotal': 19376.58, 'SAT Reading Average': 491.2, 'SAT Math Average': 497.3, 'Address': '2601 Dempster St', 'City': 'Park Ridge', 'CountyName': 'Cook', 'RecType': 'Sch', 'Zip': 60068, 'Lat': 42.037380299999995, 'Lng': -87.8575843}, {'RCDTS': 50162070170003, 'School Name': 'Maine South High School', 'School Type': 'HIGH SCHOOL', 'County': 'Cook', '# Student Enrollment': 2391, '% Student Enrollment - Low Income': 6.4, 'Student Attendance Rate': 93.8, '$ Site-level PEr-Pupil Expenditures - Subtotal': 12801.7, '$ District Centralized Per-Pupil Expenditure - Subtotal': 5919.13, '$ Total Per-Pupil Expenditures - Subtotal': 18720.83, 'SAT Reading Average': 559.6, 'SAT Math Average': 577.8, 'Address': '1111 S Dee Rd', 'City': 'Park Ridge', 'CountyName': 'Cook', 'RecType': 'Sch', 'Zip': 60068, 'Lat': 42.00137429999999, 'Lng': -87.85228470000001}, {'RCDTS': 50162070170004, 'School Name': 'Maine West High School', 'School Type': 'HIGH SCHOOL', 'County': 'Cook', '# Student Enrollment': 2078, '% Student Enrollment - Low Income': 31.9, 'Student Attendance Rate': 91.7, '$ Site-level PEr-Pupil Expenditures - Subtotal': 13504.78, '$ District Centralized Per-Pupil Expenditure - Subtotal': 5968.52, '$ Total Per-Pupil Expenditures - Subtotal': 19473.3, 'SAT Reading Average': 495.7, 'SAT Math Average': 500.5, 'Address': '1755 S Wolf Rd', 'City': 'Des Plaines', 'CountyName': 'Cook', 'RecType': 'Sch', 'Zip': 60018, 'Lat': 42.019811700000005, 'Lng': -87.906624}, {'RCDTS': 50162110170001, 'School Name': 'J B Conant High School', 'School Type': 'HIGH SCHOOL', 'County': 'Cook', '# Student Enrollment': 2334, '% Student Enrollment - Low Income': 27.9, 'Student Attendance Rate': 96.3, '$ Site-level PEr-Pupil Expenditures - Subtotal': 14801.0, '$ District Centralized Per-Pupil Expenditure - Subtotal': 2839.0, '$ Total Per-Pupil Expenditures - Subtotal': 17640.0, 'SAT Reading Average': 535.8, 'SAT Math Average': 563.0, 'Address': '700 E Cougar Trl', 'City': 'Hoffman Estates', 'CountyName': 'Cook', 'RecType': 'Sch', 'Zip': 60169, 'Lat': 42.037094, 'Lng': -88.062725}, {'RCDTS': 50162110170002, 'School Name': 'Wm Fremd High School', 'School Type': 'HIGH SCHOOL', 'County': 'Cook', '# Student Enrollment': 2576, '% Student Enrollment - Low Income': 15.1, 'Student Attendance Rate': 97.1, '$ Site-level PEr-Pupil Expenditures - Subtotal': 14630.0, '$ District Centralized Per-Pupil Expenditure - Subtotal': 2848.0, '$ Total Per-Pupil Expenditures - Subtotal': 17478.0, 'SAT Reading Average': 568.6, 'SAT Math Average': 601.5, 'Address': '1000 S Quentin Rd', 'City': 'Palatine', 'CountyName': 'Cook', 'RecType': 'Sch', 'Zip': 60067, 'Lat': 42.095368, 'Lng': -88.06533879999998}  ... displaying 10 of 146 total bound parameter sets ...  {'RCDTS': 150162990250862, 'School Name': 'Chicago Excel Academy HS', 'School Type': 'HIGH SCHOOL', 'County': 'Cook', '# Student Enrollment': 294, '% Student Enrollment - Low Income': 85.0, 'Student Attendance Rate': 79.7, '$ Site-level PEr-Pupil Expenditures - Subtotal': 13951.78927, '$ District Centralized Per-Pupil Expenditure - Subtotal': 1300.54, '$ Total Per-Pupil Expenditures - Subtotal': 15252.329269999998, 'SAT Reading Average': 399.5, 'SAT Math Average': 375.4, 'Address': '1257 W 111th St', 'City': 'Chicago', 'CountyName': 'Cook', 'RecType': 'Sch', 'Zip': 60643, 'Lat': 41.691911100000006, 'Lng': -87.65433660000002}, {'RCDTS': 150162990250863, 'School Name': 'Walter Henri Dyett High School for the Arts', 'School Type': 'HIGH SCHOOL', 'County': 'Cook', '# Student Enrollment': 477, '% Student Enrollment - Low Income': 85.3, 'Student Attendance Rate': 91.9, '$ Site-level PEr-Pupil Expenditures - Subtotal': 8936.81, '$ District Centralized Per-Pupil Expenditure - Subtotal': 2981.74, '$ Total Per-Pupil Expenditures - Subtotal': 11918.55, 'SAT Reading Average': 431.2, 'SAT Math Average': 414.9, 'Address': '555 E 51st St', 'City': 'Chicago', 'CountyName': 'Cook', 'RecType': 'Sch', 'Zip': 60615, 'Lat': 41.801164299999996, 'Lng': -87.6123949})]
(Background on this error at: http://sqlalche.me/e/f405)

In [10]:
merged_df.to_sql(name='schools_homevalues', con=engine, if_exists='append', index=False)